.navbar {
  background-color: rgb(77, 70, 63);
  box-shadow: 0 8px 18px black;
}
button{
  margin: 10px;
  background-color: rgb(170, 170, 170);
    box-shadow: 0 2px 8px black;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
}
