body{
  background-color: rgb(134, 134, 134);
  background-image: url("/assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}