/* article element surrounding form */

#searchWrap {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    background-color: red;
}

/* form element */

#searchForm {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

/* input element */

#searchForm>input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid white;
}

/* submit button */

#searchBtn {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: rgb(163, 163, 163);
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#searchBtn:hover {
    color: white;
}
/* icon inside the button */

.bookIcon {
    padding-top: .5rem;
    padding-right: .2rem;
}