.btn-container {
    float: right;
  }
  @media (max-width: 767px) {
    .btn-container {
      margin-bottom: 15px;
    }
  }
/* style of each book */
#bookTitle {
  color: black;
  font-size: 30px;
  font-weight: 600;
}
#bookSubtitle {
  color: rgb(77, 76, 76);
}
#bookImage {
  box-shadow: 0 2px 10px black;
}
#bookDesc {
  color: black;
  font-size: 18px;
}
#viewSiteBtn {
  background-color: rgb(27, 49, 77);
  color: white; 
  font-weight: 500;
  -webkit-transition: box-shadow .5s ease-out;
  -moz-transition: box-shadow .5s ease-out;
  -o-transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out;
}
#viewSiteBtn:hover {
  box-shadow: 0 2px 10px black, 
  0 3px 10px black, 
  0 4px 10px black;
}